* {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	box-sizing: border-box;

}

body {
	background: #080808;
	color: #fff;
}

html body {
	width: 100%;
	height: 100vh;
}

#header {
	height: 100vh;
	width: 100%;
	background-image: url(images/background.jpeg);
	background-size: cover;
	background-position: center;

}

nav {
	width: 100%;
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav ul {
	font-size: 20px;
	display: flex;
	list-style: none;
	gap: 30px;
	margin-left: 136px;
}

nav img {
	height: 40px;
	width: 109px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;

}

nav ul li a:hover::after {
	width: 100%;
}
.head_content {
    margin-top: 194px;
    margin-left: 117px;
}

.head_content h4 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.head_content p {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10px;
	color: #fff;
}

.head_content span {
	color: #f40606;
	font-weight: 900;
	font-size: 17px;
}

/* ......about..... */
#about {
	margin-top: 64px;
}

.row {
	display: flex;
	height: 75vh;
	width: 95%;
	margin: 40px 0px 0 32px;
}

.col1 img {
	height: 314px;
	width: 283px;
	border-radius: 6px;
	margin-left: 100px;

}

.col2 {
	margin-left: 25px;
}
.col2 h1 {
	font-family: monospace;
	margin-left: 38px;
}

.col2 p {
	font-size: 17wpx;
	padding-left: 10px;
	padding-top: 10px;

}

.col2 p.aboutme {
	font-size: 17px;
	padding-left: 10px;
	padding-top: 10px;
	width: 40vw;
}

.tabtitle {
	display: flex;
	margin-top: 14px;
	margin-left: 15px;
	cursor: pointer;
}

.tab-link {
	font-family: -webkit-body;
	padding-left: 24px;
	position: relative;

}

.tab-link::after {
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
	cursor: pointer;

}

.tab-link.active-link::after {
	width: 50%;
	margin-left: 8px;
}


.tab-content {
	margin: 10px 0 0 10px;
	display: none;


}

.tab-content ul li {
	list-style: none;
	font-size: 14px;
	font-family: serif;
	padding-top: 10px;
}

.tab-content ul span {
	color: #ff004f;
	font-size: 14px;

}

.tab-content.active-tab {
	display: block;
}

/* ...services...... */
.container {
	display: flex;
	margin-left: 35px;
}

#services {
	padding-left: 120px;
}

#services h1 {
	margin-left: 72px;
	margin-bottom: 15px;
}

.column {
	display: flex;
	height: 283px;
	width: 304px;
	background: #262626;
	margin-left: 35px;

	border-radius: 15px;
	padding-top: 10px;
	transition: background 0.5s, transform 0.5s;
}

.column div:hover {
	background: #ff004f;
	transform: translateY(-10px);
	border-radius: 15px;
	height: 283px;
}

.column div {
	padding-left: 15px;
}

.column div h3 {
	font-size: 24px;
	font-weight: 700;
	padding-left: 15px;
	padding-bottom: 10px;
}

.column div a {
	text-decoration: none;
	color: #393997;
	padding-left: 12px;
	padding-top: 15px;

}

.column div p {
	padding-left: 10px;
	font-size: 12px;
}

.colum div.icon {
	font-size: 50px;

}

/* ----portfolio---- */
#portfolio {
	height: 50%;
	width: 100%;
	padding-left: 120px;
}

#portfolio h1 {
	margin-left: 75px;
	margin-top: 15px;

}

.work {
	height: 300px;
	width: 250px;
	padding: 15px;
	display: flex;

}

.work img {
	height: 250px;
	width: 200px;
	border-radius: 10px;

}

.work img:hover {
	height: 252px;
	cursor: pointer;

}

.aboutimg {
	height: 0px;
	width: 201px;
	padding: 15px;
	border-radius: 10px;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
	background: #df0a579e;

}

.aboutimg h2 {
	font-size: 13px;
	margin-top: 70px;
	font-weight: 800;
	margin-left: 10px;
}

.aboutimg p {
	font-size: 9px;
	margin-top: 15px;
	margin-left: 10px;
}

.aboutimg:hover {
	height: 252px;
	cursor: pointer;

}

.aboutimg a i {
	font-size: 18px;
	margin-top: 13px;
	margin-left: 66px;
	border-radius: 7px;
	color: #040489;
}

/* -----contact---- */
#contact {
	display: flex;
}

.container1 {
	width: 90%;
	height: 100vh;
	background: #262626;
	border-radius: 12px;
	margin-left: 40px;
}

.row1 {
	height: 50vh;
	width: 100%;
	display: flex;

}

.col-left {
	height: 50%;
	width: 50%;
}

.col-left h1 {
	margin-left: 75px;
	margin-top: 95px;

}

.col-left p {
	margin-left: 6px;
	margin-top: 0px;

}

.col-left p i {
	margin-left: 75px;
	margin-top: 15px;
	color: #ff004f;

}

.col-left p span {
	margin-left: 5px;
	margin-top: 15px;
	color: #ff004f;

}

.social-icon {
	height: 30px;
	width: 35px;
	display: flex;
	margin-left: 71px;
	margin-top: 14px;
	margin-bottom: 27px;
	font-size: 25px;

}

.social-icon a i {
	margin-top: 10px;
	margin-left: 15px;
	text-decoration: none;
	transition: transform 0.5s;


}

.social-icon a i:hover {
	color: #ff004f;
	transform: translateY(-6px);
}

.col-right {
	height: 100%;
	width: 50%;
	margin-top: 95px;

}

.col-right button {
	margin-left: 70px;
	margin-top: 1px;
	font-size: 25px;
	border-radius: 5px;
	border: 0px;
	background: #ff0051cb;
	font-weight: bolder;

}

.col-right button:hover {
	color: white;
	background: #ff004f;

}

.col-right form {
	height: 50%;
	width: 50%;

}

form input,
form textarea {
	width: 150%;
	border: 0;
	border-radius: 6px;
	padding: 15px;
	margin: 15px 0;
	font-size: 20px;
	color: white;
	background: #2929529d;

}

a.cvbtn {
	text-decoration: none;
	background: #fc0755c7;
	margin-left: 77px;
	border-radius: 4px;
	font-size: 22px;
	font-weight: 600;
	font-family: system-ui;
	color: #080808;
}

a.cvbtn:hover {
	background: #ff004f;

}
#msg{
	margin-left: 25px;
	color: green;
	display: block;
}

.copyright {
	align-items: center;
	width: 90%;
	height: 30px;
	justify-content: center;
	display: flex;
	background: #262626;
	margin-left: 35px;
	border-radius: 10px;
	margin-top: 10px;
}

nav i.fas {
	display: none;

}

/* ----css phone screen--- */
@media only screen and (max-width:910px) {
	#services {
		padding-left: 50px;
		
	}
	#services h1 {
		margin-bottom: 40px;
	}
	.container {
		margin-left: 2px;
	}
	.column {
		width: 225px;
	}
	#portfolio {
		padding-left: 78px;
		height: 70%;
	}
	#portfolio h1 {
		margin-left: 44px;
		margin-top: 32px;
		margin-bottom: 20px;
	}

}
@media only screen and (max-width:770px) {
	nav ul {
		font-size: 10px;
		margin-left: 52px;
	}
	#header {
		width: 136%;
        height: 138%;
	}
	.head_content h4 {
		
		font-size: 45px;
		
		
	}
	.head_content p {
		
		font-size: 38px;
	
	}
	.head_content span {
		font-size: 46px;
	}
	.col1 img {
		height: 286px;
		width: 246px;
		margin-left: 45px;
	}
	.col2 p.aboutme {
		font-size: 14px;
		padding-left: 3px;
		padding-top: 10px;
		width: 90vw;
	}
	.container1{
		width: 125vw;
	}
	#contact {
		width: 136%;
	}
	.container {
        margin-left: 89px;
        width: 100%;
    }
	.copyright {
		width: 126%;
		
	}




}

@media only screen and (max-width:425px) {
	#header {
		background-image: url(images/phone-background.jpeg);
		height: 1235px;
        width: 200%;
	}
	.head_content h4 {
		
		font-size: 45px;
		
		
	}
	.head_content p {
		
		font-size: 38px;
	
	}
	.head_content span {
		font-size: 46px;
	}
	.container {
        margin-left: 0px;
        width: 100%;
    }
	nav {
		justify-content: space-between;
	
	}
	nav img {
		margin-left: 38px;
	}
	
	
	nav ul {
		background: #ff004f;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		display:block;
		font-size: 20px;
		z-index: 5px;
		transition: rigrt 0.5s;
		
		
	}
	nav ul li{
		margin: 20px;
	}
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	nav i.fas {
		font-size: 30px;
		display: block;
		margin-right: 34px;
	}
	#about {
        margin-top: 0px;
        height: 234%;
       
        width: 100%;
    }
	.row {
        display: block;
        height: 100vh;
        width: 157%;
        /* margin: 40px 0px 0px 32px; */
    }
	.row img {
        height: 57%;
        width: 59%;
        margin-left: 164px;
    }
	/* .col2 h1 {
		padding: 0px 0px 0px 100px;
		font-family: monospace;
		justify-content: center;
		align-items: center;
		display: flex
	;
	} */
	.col2 p.aboutme {
        font-size: 25px;
        padding-left: 83px;
        padding-top: 27px;
        width: 165vw;
    }
	.tabtitle {
		display: flex
	;
		margin-top: 24px;
		margin-left: 10px;
		cursor: pointer;
		
	}
	.col2 p {
		font-size: 35px;
		padding-left: 84px;
		padding-top: 31px;
	}
	.tab-link.active-link::after {
		margin-left: 81px;
	}
	.tab-content ul li {
		font-size: 40px;
	}
	.tab-content ul span {
		font-size: 27px;
	}
	#services {
        padding-left: 78px;
        width: 100%;
        height: 295vh;
    }
	.container {
        
        width: 100%;
		height: 37vh;
        display: block;
    }
	.column {
        width: 570px;
        height: 500px;
        font-size: 30px;
        margin-bottom: 20px;
    }
	.column div {
		padding-left: 30px;
	}
	.column div h3 {
		font-size: 51px;
		
	}
	.column div p {
		font-size: 31px;
	}
	.column div:hover {
		height: 500px;
	}
	#portfolio {
        height: 350vh;
        width: 100%;
    }
	
	.work {
		height: 586px;
		width: 618px;
		padding: 38px;
		display: flex
	;
	}
	.work img {
		height: 556px;
		width: 574px;
	}
	.aboutimg {
		width: 542px;
	}
	.aboutimg h2 {
		font-size: 39px;
	}
	.aboutimg p {
		font-size: 40px;
	}
	
	/* .aboutimg a  {
		margin-left: 178px;
		font-size: 69px;
		background-color: white;
		border-radius: 50%;
	} */
	.aboutimg a i {
		font-size: 54px;
		margin-top: 45px;
		margin-left: 207px;
		border-radius: 7px;
		color: #040489;
	}
	.aboutimg:hover {
		height: 556px;
		
	
	}
	#contact {
        width: 200vw;
        height: 100vh;
    }
	.container1 {
        width: 90%;
        height: 150vh;
    }
	.row1 {
		height: 100vh;
		width: 100%;
		display: block;
	}
	 .col-left {
        height: 43%;
        width: 75%;
        margin-left: 60px;
    }
	.col-left p {
		font-size: 23px;
	}
	.col-right {
		height: 75%;
		width: 84%;
		margin-top: 19px;
		margin-left: 81px;
	}
	.social-icon {
		height: 36px;
		margin-bottom: 43px;
		font-size: 49px;
	}
	.copyright {
        width: 182%;
        height: 50px;
        margin-top: 279px;
    }
	

}

@media only screen and (max-width:375px) {

	.head_content h4 {
		font-size: 40px;
		
	}
	.head_content p {
		font-size: 33px;

	}
	.head_content span {
		
		font-weight: 900;
		font-size: 51px;
		
	}
	#about {
		margin-top: 0px;
        height: 220%;
        width: 100%;
        margin-left: 0px;
    
    }
	.row {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
	.col2 h1 {
		font-family: monospace;
		margin-left: 83px;
		font-size: 34px;
		margin-top: 13px;
	}
	#portfolio h1 {
        margin-top: 68px;
    }



}

@media only screen and (max-width:320px) {
	#header {
        background-image: url(images/phone-background.jpeg);
        height: 100%;
        width: 100%;
    }
	.head_content {
        margin-top: 0px;
        margin-left: 17px;
    }
	.head_content h4 {
        font-size: 19px;
    }
	.head_content p {
        font-size: 22px;
    }
	.head_content span {
        font-weight: 900;
        font-size: 28px;
        font-family: ui-monospace;
    }
	.row {
        display: block;
        height: 100%;
        width: 100%;
		margin-left: 0;
    }
    .row img {
        width: 40%;
        margin-left: 100px;
		
    }
	.col2 {
		
		width: 100%;
		margin-left: 0px;
	}
	/* .col2 p {
        font-size: 27px;
        padding-left: 70px;
    } */
	.col2 p.aboutme {
        font-size: 11px;
        padding-top: 22px;
        width: 80%;
        margin-left: 20px;
		padding-left: 0px;
    }
	.col2 p {
        font-size: 13px;
        padding-left: 17px;
        padding-top: 3px;
    }
	.tabtitle {
        display: flex
;
        margin-top: 24px;
        /* margin-left: 10px; */
        cursor: pointer;
    }
	.tab-link.active-link::after {
        margin-left: 21px;
    }
	.tab-content ul li {
        font-size: 12px;
    }
	.tab-content ul span {
        font-size: 18px;
    }
	.column {
        margin-left: 0px;
    }
	#about {
        margin-top: 0px;
        height: 100%;
        overflow: scroll;
        width: 100%;
    }
	#services {
        padding-left: 0px;
        width: 100%;
        height: 155vh;
    }
	#services h1 {
        margin-bottom: 36px;
        font-size: 24px;
    }
	.column {
        width: 281px;
        height: 252px;
        font-size: 8px;
        margin-bottom: 13px;
		margin-left: 15px;
    }
	.column div h3 {
        font-size: 22px;
        padding-top: 6px;
        padding-left: 0px;
    }
	.column div p {
        font-size: 16px;
        padding-left: 0px;
    }
	.column div:hover {
        height: 252px;
    }
	.column div a {
		text-decoration: none;
		color: #393997;
		padding-left: 12px;
		padding-top: 15px;
		font-size: 18px;
	}
	
	#portfolio {
		height: 185vh;
		width: 100%;
		padding-left: 0px;
	}
	#portfolio h1 {
        margin-top: 68px;
    }
	.work {
        height: 300px;
        width: 313px;
        display: flex
;
    }
	.aboutimg {
        width: 237px;
    }
	.aboutimg:hover {
        height: 242px;
    }
	.aboutimg h2 {
        font-size: 21px;
		margin-top: 28px;
    }
	.aboutimg a i {
        font-size: 33px;
        margin-top: 46px;
        margin-left: 98px;
        color: #040489;
    }
	

	.aboutimg p {
        font-size: 9px;
    }
	
	.work img {
        height: 242px;
        width: 240px;
    }
	#contact {
		width: 100%;
        height: 130vh;
    
    }
	
	.container1 {
        width: 90%;
        height: 130vh;
		margin-left: 18px;
    }
	.row1 {
		height: 100vh;
		width: 100%;
		display: block;
	}
	.col-left {
        height: 43%;
        width: 87%;
        margin-left: 12px;
    }
	.col-left h1 {
		margin-left: 24px;
		margin-top: 14px;
	}
	.col-left p {
        font-size: 13px;
    }
	.col-left p i {
		margin-left: 10px;
		
	}
	.social-icon {
        height: 36px;
        margin-bottom: 43px;
        font-size: 49px;
        margin-left: 14px;
    }
	a.cvbtn {
		
		margin-left: 30px;
		
	}
	.col-right {
		height: 75%;
		width: 84%;
		margin-top: 19px;
		margin-left: 32px;
	}
	form input, form textarea {
		width: 199%;
		border: 0;
		border-radius: 6px;
		padding: 15px;
		margin: 15px 0;
		font-size: 20px;
		color: white;
		background: #2929529d;
	}
	
	
	.copyright {
        margin-top: 10px;
        margin-left: 19px;
        width: 90%;
    }
}
